*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body {

}
header {
  font-family: 'Lobster', cursive;
  height: 100%;
  max-height: 100%;
   background-image: url(img/upside.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.logos img {
  display: block;
  width: 90%;
  margin: auto;



}

.time {
  flex: 0 1 28%;
/*  width: 100%;
  max-width: 462px;*/
font-size: 34px;
line-height: 41px;
}
.phone {
/*  width: 100%;
  max-width: 470px; */
    flex: 0 1 28%;
  text-align: center;
}
.logos {
  flex: 0 1 3%;
  background-color: transparent; 
  border-radius: 24%;
/*  width: 100%;
  max-width: 150px;*/
}
.logos:hover {
  background-color: #fff;
}
.menu {
    flex: 0 1 22%;
}
.idleblock {
  height: 1000px;
  background-color: yellow;
}
.wrapper {
height: 100px;
/*  margin: auto;*/
  width: 100%;
display: flex;
  align-items: center;
  padding: 44px 70px 35px 70px;
  justify-content: space-between;
  position: fixed;
  color: white;
  font-size: 40px;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
width: 80%;
margin: auto;
padding-top: 210px;
}

.body-image img{
width: 55%;
float: left;
}

.container-image2 {
min-width: 445px;
}

.special {
font-family: 'Monoton', cursive;
text-decoration: underline;
font-size: 154px;
text-shadow: 1px 1px 12px #faa206;
color: #000000;
font-variant: small-caps;
padding-bottom: 5px;
}
.gallery{
  height: 955px;
  background-image:url(img/bgsmoke.png),url(img/bgnet2.png);
background-repeat: round;
} 
.gallery-container {
  height: 790px;
  margin: 0 auto;
  padding-top: 80px;
  width: 78%;
  display: flex;
  justify-content: space-between;
}
.menu-big {
/*width: 42.45%;*/
  flex:0 0 45%;
background-image: url(img/menu1.png);
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: 0 0;
}
.bonus {
  flex:0 0 45%;
  background-image: url(img/bonusbg.png);
  background-size: 100% 100%;

}
.menu-big p{
  padding-top: 25.35%;
color: #faa206;
text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.75);
font-family: Lobster;
font-size: 110px;
font-weight: 400;
text-decoration: underline;
font-variant: small-caps;
text-align: center;
}
.menu-big a {
  color: #faa206;
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.75);
}
.vertical {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.smokevideo {
  position: relative;
  height: 960px;
  z-index: -1;
}
.smoke-container {
  z-index: 1;
  position: relative;
  padding-top: 14%;
  width: 87.19%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 80%;
  margin:0 auto;
}
.interactive {
  flex: 1 0 800px;
}
.customers {
  display: flex;
  flex-direction: column;
  flex: 1 0 737px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
}

.customers-item1 {
  flex: 1 1 auto;
  text-align: center;
  font-size: 55px;
text-shadow: 0px 0px 10px #d68d0b;
color: #050505;
font-family: Lobster;
}
.customers-item2 {
padding-top: 20px;
 font-family: "Times New Roman PS - Bold MT";
font-size: 40px;
color:#ffffff;;
}
video {
  width: 100%;
  position: absolute;
  z-index: -1
}
.title1 {
  padding-top: 16px;
text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.75);
color: #ff9900;
font-family: Lobster;
font-size: 40px;
font-weight: 400;
text-decoration: underline;
font-variant: small-caps;
text-align: center;
}
.sun-container {
  display: flex;
  flex-direction: column;
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.75);
}
.column {
  display: flex;
  justify-content: space-between;
flex: 0 1 50%;
 }
 .sun-container .text {
flex: 0 1 50%;
padding-right: 47px;
color: #ffffff;
font-family: Lobster;
font-size: 25px;
font-weight: 400;
font-variant: small-caps;
line-height: 97%;
 }
.suns {
  margin-left: 3px;
}
.suns img {
  margin: 2.5px;
}
.levels {

}
.text .card{
  font-family: "Arial MT", sans-serif;
font-size: 10px;

}
.bonusprog {
color: #ffffff;
font-family: "Arial MT", sans-serif;
font-size: 18px;
font-weight: 400;
font-variant: small-caps;
font-style: italic;
padding: 0px 10px;
text-align: justify;
}
.title1 span {
  font-size: 32px;
}
.inst-container {
color: #ffffff;
font-family: "Arial MT", sans-serif;
font-size: 14px;
font-weight: 400;
font-variant: small-caps;
display: flex;
justify-content: space-between;
padding: 0px 3px;
font-style: italic;
}
.left-item {
  flex: 0 1 50%;
}
.right-item {
  flex: 0 1 50%;
}
.title2 {
font-family: Lobster;
font-size: 21px;
font-weight: 400;
font-variant: small-caps;
padding-bottom: 20px;
}
.title2 span {
  font-size: 22px;
  color: #d085ff;
}
.bonus_list{
  padding-bottom: 11px;
  font-size: 16px;
}