*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body {

}
header {
  font-family: 'Lobster', cursive;
  height: 100%;
  max-height: 600px;
   background-image: url(img/upside.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
header img {
  width: 70px;
}

.time {
  width: 100%;
  max-width: 462px;
font-size: 34px;
line-height: 41px;
}
.phone {
  width: 100%;
  max-width: 470px; 
  text-align: center;
}
.logos {
  width: 100%;
  max-width: 150px;
}

.idleblock {
  height: 1000px;
  background-color: yellow;
}
.wrapper {
height: 100px;
/*  margin: auto;*/
  width: 100%;
display: flex;
  align-items: center;
  padding: 44px 70px 35px 70px;
  justify-content: space-between;
  position: fixed;
  color: white;
  font-size: 40px;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
width: 80%;
margin: auto;
padding-top: 150px;
}

.body-image img{
width: 55%;
float: left;
}

.container-image2 {
min-width: 445px;
}

.special {
font-family: 'Monoton', cursive;
text-decoration: underline;
font-size: 154px;
text-shadow: 1px 1px 12px #faa206;
color: #000000;
font-variant: small-caps;
padding-bottom: 5px;
}
.gallery{
  height: 960px;
  background-image: url(img/bgnet2.png);
/*  background-size: 100% auto;*/
background-repeat: round;
} 
.gallery-container {
  margin: 0 auto;
  padding-top: 80px;
  width: 78%;
  display: flex;
  justify-content: space-between;
}
.menu-big {
/*width: 42.45%;*/
  flex:0 0 636px;
background-image: url(img/menu1.png);
background-size: 100% 100%;
background-repeat: no-repeat;
}
.bonus {
  flex:0 0 640px;
/*width: 42.72%;*/
}
.menu-big p{
  padding-top: 31.35%;
color: #faa206;
text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.75);
font-family: Lobster;
font-size: 130px;
font-weight: 400;
text-decoration: underline;
font-variant: small-caps;
text-align: center;
}
.menu-big a {
  color: #faa206;
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.75);
}

.smokevideo {
  position: relative;
  height: 960px;
  z-index: -1;
}
.smoke-container {
  z-index: 1;
  position: relative;
  padding-top: 159px;
  width: 87.19%;
  display: flex;
  justify-content: space-between;
}
.interactive {
  flex: 1 0 800px;
}
.customers {
  display: flex;
  flex-direction: column;
  flex: 1 0 737px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
}

.customers-item1 {
  flex: 1 1 auto;
  text-align: center;
  font-size: 55px;
text-shadow: 0px 0px 10px #d68d0b;
color: #050505;
font-family: Lobster;
}
.customers-item2 {
padding-top: 20px;
 font-family: "Times New Roman PS - Bold MT";
font-size: 40px;
color:#ffffff;;
}
video {
  width: 100%;
  position: absolute;
  z-index: -1
}